.total-container {
  grid-row: span 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display:  grid;
  grid-template-columns:1fr 1fr ;
  grid-auto-rows: 60px 60px 120px;
  background-color: var(--very-dark-cyan);
  border-radius: 20px;
  padding: 2rem;
  gap: 20px;
}

.btn-reset {
  grid-column-start: span 2;
  background-color: var(--strong-cyan);
  width: 325px;
  margin-top: 5rem;
}

.btn-reset:disabled {
  background-color: var(--dark-grayish-cyan);
}

.amount {
  color: var(--strong-cyan);
  font-size: xx-large;
  padding-left: 4rem;
}

h2 {
  margin: 0;
}

.header2 {
  color: var(--very-light-grayish-cyan);
}

.subtext {
  color: var(--grayish-cyan);
  margin: 0;
}

@media only screen and (max-width: 600px) {

  .total-container {
    grid-column: span 1;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-auto-rows: 60px;
    padding: 1rem;
  }

  .total-text {
    padding: 1rem;
  }

  .amount {
    padding-right: 1rem;
  }

  .btn-reset {
    margin-top: 1rem;
  }
}
