
<form [formGroup]="tipForm">
  <div class="bill-container">
    <h2 class="header1">Bill</h2>

    <div class="input-container form-group">
      <i class="fa-solid fa-dollar-sign" id="dollar"></i>
      <input (keydown)="calculateBill()"
             type="text"
             id="total-bill"
             name="total-bill"
             placeholder="0"
             formControlName="totalBill"
             [(ngModel)]="totalBill"
             required />
    </div>
    <div *ngIf="!tipForm.controls['totalBill'].valid && tipForm.controls['totalBill'].touched"
         class="alert">
      Total is required.
    </div>
  </div>

  <div class="select-container form-group">
    <h2 class="header1">Select Tip %</h2>
    <div class="button-container" id="tip-amounts">
      <button class="button btn-tip" id="five" [ngClass]="{active: active === true}" (onClick)="calculateTip(customTip)">5%</button>
      <button class="button btn-tip" id="ten">10%</button>
      <button class="button btn-tip" id="fifteen">15%</button>
      <button class="button btn-tip" id="twenty-five">25%</button>
      <button class="button btn-tip" id="fifty">50% </button>
      <input (keydown)="calculateTip(customTip)"
        autocomplete="off"
        class="btn-tip input--custom pointer"
        type="text"
        id="custom"
        name="custom"
        formControlName="customTip"
        [(ngModel)]="customTip"
        placeholder="Custom"
      />
    </div>
    <div *ngIf="!tipForm.controls['customTip'].valid && tipForm.controls['customTip'].touched"
         class="alert">
      Please enter a number not provided.
    </div>
  </div>

  <div class="customers-container">
    <h2 class="header1">Number of People</h2>

    <div class="input-container form-group">
      <i class="fa-solid fa-user" id="user"></i>
      <input (keydown)="calculatePeople()"
             type="text"
             inputmode="numeric"
             id="people-num"
             name="people-num"
             formControlName="numOfPeople"
             [(ngModel)]="numOfPeople"
             placeholder="0"
             required />
    </div>
    <div *ngIf="!tipForm.controls['numOfPeople'].valid && tipForm.controls['numOfPeople'].touched"
         class="alert">
      Please provide the number of people.
    </div>
  </div>
</form>



