
.bill-container {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
}

.select-container {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  width: 100%;
}

.customers-container {
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

//.btn-tip {
//  border-radius: 10px;
//  background-color: var(--very-dark-cyan);
//  color: var(--white);
//}

//.btn-tip:hover {
//  background-color: var(--strong-cyan);
//  color: var(--very-dark-cyan);
//}

#custom {
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  width: 20%;
  cursor: pointer;
  font-size: medium;
}

#user, #dollar {
  padding: 14px;
  background-color: var(--very-light-grayish-cyan);
  color:  var(--grayish-cyan);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: large;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

input {
  //padding: 10px;
//  border: 0;
//  border-top-right-radius: 5px;
//  border-bottom-right-radius: 5px;
//  width: 85%;
  text-align: right;

  //font-size: large;
}


//.mat-mdc-form-field-focus-overlay

.mat-mdc-form-field {
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
}

h2 {
  margin: 0;
}

.header1 {
  color: var(--dark-grayish-cyan);
  margin: .5rem;
  font-size: medium;
}

.alert {
  color: red;
  font-size: 9px;
}

.active {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.input--custom {
  border-radius: 10px;
  width: 7rem;
  height: 2rem;
  margin: .5rem;
}
