
<form [formGroup]="tipForm">
  <div class="bill-container">
    <h2 class="header1">Bill</h2>

    <mat-form-field class="total-input" appearance="fill">
      <span matPrefix><i class="fa-solid fa-dollar-sign fa-xl"></i></span>
      <input type="number" matInput placeholder="0">
    </mat-form-field>

    <div class="input-container form-group">
      <i class="fa-solid fa-dollar-sign" id="dollar"></i>
      <input [value]="totalBill.value"
        (input)="totalBill.value=calculateBill(totalBill)"
        type="number"
        id="total-bill"
        name="totalBill"
        class="form-control"
        placeholder="0"
        formControlName="totalBill"
        pattern="/\-?\d*\.?\d{1,2}/"
        required />
    </div>
    <div *ngIf="!tipForm.controls['totalBill'].valid && tipForm.controls['totalBill'].touched"
         class="alert">
      Total is required.
    </div>
  </div>

  <div class="select-container form-group">
    <h2 class="header1">Select Tip %</h2>
    <div class="button-container" id="tip-amounts">
      <button mat-raised-button color="accent" class="button btn-tip" id="five" [ngClass]="{active}" (click)="calculateTip(customTip)">5%</button>
      <button mat-raised-button color="accent"  class="button btn-tip" id="ten">10%</button>
      <button mat-raised-button color="accent" class="button btn-tip" id="fifteen">15%</button>
      <button mat-raised-button color="accent" class="button btn-tip" id="twenty-five">25%</button>
      <button mat-raised-button color="accent" class="button btn-tip" id="fifty">50%</button>
      <input [value]="customTip.valueOf"
        (input)="customTip.valueOf=calculatePeople(numOfPeople)"
        autocomplete="off"
        class="btn-tip input--custom"
        type="number"
        formControlName="customTip"
        name="customTip"
        pattern="/\-?\d*\.?\d{1,2}/"
        placeholder="Custom"
      />
    </div>
    <div *ngIf="!tipForm.controls['customTip'].valid && tipForm.controls['customTip'].touched"
         class="alert">
      Please enter a number not provided.
    </div>
  </div>

  <div class="customers-container">
    <h2 class="header1">Number of People</h2>

    <div class="input-container form-group">
      <i class="fa-solid fa-user" id="user"></i>
      <input [value]="numOfPeople.value"
             (input)="numOfPeople.value=calculateTip(customTip)"
             type="number"
             inputmode="numeric"
             name="numOfPeople"
             formControlName="numOfPeople"
             pattern="/\-?\d*\.?\d{1,2}/"
             placeholder="0"
             required />
    </div>
    <div *ngIf="!tipForm.controls['numOfPeople'].valid && tipForm.controls['numOfPeople'].touched"
         class="alert">
      Please provide the number of people.
    </div>
  </div>
</form>
