
<form action="">
  <div class="bill-container">
    <h2 class="header1">Bill</h2>

    <div class="input-container form-group">
      <i class="fa-solid fa-dollar-sign" id="dollar"></i>
      <input onkeyup="calculateBill()"
             type="number"
             inputmode="numeric"
             id="total-bill"
             name="total-bill"
             placeholder="0"
             formControlName="total-bill"
             required />
    </div>
  </div>

  <div class="select-container form-group">
    <h2 class="header1">Select Tip %</h2>
    <div class="button-container" id="tip-amounts" onclick="">
      <button class="button btn-tip" id="five">5%</button>
      <button class="button btn-tip" id="ten">10%</button>
      <button class="button btn-tip" id="fifteen">15%</button>
      <button class="button btn-tip" id="twenty-five">25%</button>
      <button class="button btn-tip" id="fifty">50% </button>
      <!--             <button class="button custom" id="custom">Custom</button>-->
      <input
        autocomplete="off"
        class="btn-tip input--custom pointer"
        type="number"
        inputmode="numeric"
        min="1"
        max="10000"
        id="custom"
        formControlName="custom"
        placeholder="Custom"
      />
    </div>
  </div>

  <div class="customers-container">
    <h2 class="header1">Number of People</h2>

    <div class="input-container form-group">
      <i class="fa-solid fa-user" id="user"></i>
      <input onkeyup="calculatePeople()"
             type="number"
             inputmode="numeric"
             min="1"
             max="100"
             id="people-num"
             name="people-num"
             formControlName="people-num"
             placeholder="0"
             required />
    </div>
  </div>
</form>



