<div class="container">
  <img src="./assets/logo.svg" alt="app logo" />

  <div class="card">

    <app-calculator></app-calculator>
    <app-results></app-results>

  </div>
</div>

<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
  >Frontend Mentor</a>. Coded by <a href="https://github.com/mariabrock">Maria Brock</a>.
</div>


<!-- https://www.freecodecamp.org/news/build-and-validate-beautiful-forms-with-vanilla-html-css-js/ -->

<!--https://www.youtube.com/watch?v=duH4DLq5yoo&ab_channel=KevinPowell-->

<!--https://www.youtube.com/watch?v=rg7Fvvl3taU&ab_channel=KevinPowell-->

<!--https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout/Auto-placement_in_grid_layout-->
