@use '@angular/material' as mat;
@include mat.core();

$custom-primary: (
  50 : #e5f7f5,
  100 : #beece6,
  200 : #93e0d5,
  300 : #67d3c4,
  400 : #47c9b8,
  500 : #26c0ab,
  600 : #22baa4,
  700 : #1cb29a,
  800 : #17aa91,
  900 : #0d9c80,
  A100 : #a6ffdd,
  A200 : #68ffc5,
  A400 : #4fffbb,
  A700 : #40ffb6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-accent: (
  50 : #e0e9ea,
  100 : #b3c8ca,
  200 : #80a4a6,
  300 : #4d8082,
  400 : #266468,
  500 : #00494d,
  600 : #004246,
  700 : #00393d,
  800 : #003134,
  900 : #002125,
  A100 : #60eaff,
  A200 : #2de4ff,
  A400 : #00d9f9,
  A700 : #00c2e0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-purple: (
  50 : #f5e5f7,
  100 : #e6beec,
  200 : #d593e0,
  300 : #c467d3,
  400 : #b847c9,
  500 : #ab26c0,
  600 : #a422ba,
  700 : #9a1cb2,
  800 : #9117aa,
  900 : #800d9c,
  A100 : #dda6ff,
  A200 : #c568ff,
  A400 : #bb4fff,
  A700 : #b640ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);



