/* You can add global styles to this file, and also import other style files */
:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  font-family: 'Space Mono', monospace;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: var(--light-grayish-cyan);
}

button {
  font-family: 'Space Mono', monospace;
  border: none;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  width: 30%;
  cursor: pointer;
  font-size: large;
}
